
<div style="background-image: url('login_page_background.jpg'); height: 90vh;">
    <div style="padding-top: 10%; margin-left: 40%;">
        <h2 style="position: absolute; top: 35%; left: 43%; color: white;">Forgot Password??</h2>
        <form action="/api/otp" method="post" style="background-color: grey; height: 50vh; width: 30vw;">
            
            <div class="input-group input-group-sm mb-3" style="padding-top: 25%; padding-left: 5%; width: 80%;">
                
                <input type="text" class="form-control" name="email" placeholder="Enter Email Address" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width: 10%;">
            </div>
    
            <button type="submit" class="btn btn-primary" style="margin-left: 5%;">Generate OTP</button>
    
        </form>
    </div>

</div>