
<div id="homepage">
    <div class="card" style="position: absolute; top: 30%; left: 40%;">
        <div class="card-header">
          The CN Application
        </div>
        <div class="card-body">
          <h5 class="card-title">Successful</h5>
          <p class="card-text">Password reset is completed successfully.</p>
          <a href="/" class="btn btn-primary">Sign In</a>
        </div>
      </div>
</div>